<template>
  <div class="position-relative text-primary text-start">
    <img
      id="cockpit-main-btn"
      role="button"
      :src="mainLogo"
      :style="'height:' + imgHeight"
      alt="cockpit menu logo"
      @click="showMenu = !showMenu"
    />

    <div
      class="position-absolute overflow-auto py-1 rounded rounded-1"
      style="scrollbar-width: none; -ms-overflow-style: none; max-height: 100vh; z-index: 9999">
      <div
        id="cockpit-menu"
        :class="{'d-none' : !showMenu}" class="position-relative border rounded bg-white mt-2"
        style="width: 300px"
      >
        <div class="d-flex flex-row flex-wrap p-2 justify-content-between">
          <div
            v-for="nav in navItems" :key="nav.id" role="button" style="width: 33%"
            class="position-relative px-4 pb-4 mb-2" @click="goTo(getLink(nav.id))">
            <div v-if="!token || getRoles(nav.roleIndex)?.length > 0">
              <img :src="getLink(nav.id) + '/favicon.ico'" class="img img-fluid w-100"  :alt="'icon for app ' + nav.label"/>
              <span class="position-absolute bottom-0 start-0 w-100 text-center">{{ nav.label }}</span>
            </div>
          </div>
        </div>
        <!--      <div class="text-center"> -->
        <!--        <button class="btn btn-primary my-3" @click="goToCockpit()">Cockpit</button> -->
        <!--      </div> -->


        <!--    switch button to open blank or not -->
        <div class="form-check form-switch mt-3 ms-3">
          <input
            id="flexSwitchCheckDefault" v-model="openInNewTab" class="form-check-input" type="checkbox"
            role="switch">
          <label class="form-check-label" for="flexSwitchCheckDefault">Nouvelle fenêtre</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import userManager from '@amsom-habitat/user-manager'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faHouse, faChevronRight, faChevronLeft } from '@fortawesome/free-solid-svg-icons'
import Cookies from 'js-cookie'
import amsomHabitatLogo from '@/assets/images/amsom-habitat-logo.png'

library.add(faHouse, faChevronRight, faChevronLeft)

export default {
  name: 'CockpitOverlay',

  props: {
    token: {
      type: String,
      required: false,
      default: null
    },

    imgHeight: {
      type: String,
      required: false,
      default: '50px'
    },

    customLinks: {
      type: Object,
      required: false,
      default: () => ({})
    },

    cockpitEnvironnement: {
      type: String,
      required: false,
      default: 'prod'
    }
  },

  data() {
    return {
      showMenu: false,
      preferences: {},
      mainLogo: amsomHabitatLogo,
      links: {
        prod: {
          volly: 'https://volly.amsom-habitat.fr',
          kifekoi: 'https://kifekoi.amsom-habitat.fr',
          admin: 'http://admin.amsom-habitat.dom',
          cally: 'https://cally.amsom-habitat.fr',
          patri: 'https://patri.amsom-habitat.fr',
          // cockpit: 'https://cockpit.amsom-habitat.fr',
          sollicitation: 'https://suivi-recla.amsom-habitat.fr'
        },

        preprod: {
          volly: 'http://10.10.0.44:9070',
          kifekoi: 'http://10.10.0.44:9210',
          admin: 'http://10.10.0.44:9020',
          cally: 'http://10.10.0.44:9060',
          patri: 'http://10.10.0.44:9190',
          // cockpit: "http://10.10.0.44:9220",
          sollicitation: 'http://10.10.0.44:9140'
        },

        custom: this.customLinks
      },

      navItems: [
        {
          id: 'volly',
          icon: 'fa-solid fa-house',
          label: 'Volly',
          roleIndex: 'validation_enquete'
        },
        {
          id: 'kifekoi',
          icon: 'fa-solid fa-house',
          label: 'Kifekoi',
          roleIndex: 'kifekoi'
        },
        {
          id: 'admin',
          icon: 'fa-solid fa-house',
          label: 'AdminOutils',
          roleIndex: 'administration'
        },
        {
          id: 'cally',
          icon: 'fa-solid fa-house',
          label: 'Cally',
          roleIndex: 'crc'
        },
        {
          id: 'patri',
          icon: 'fa-solid fa-house',
          label: 'Patri',
          roleIndex: 'patri'
        },
        {
          id: 'sollicitation',
          icon: 'fa-solid fa-house',
          label: 'Sollicitations',
          roleIndex: 'sollicitation'
        }
      ]
    }
  },

  computed: {
    cockpitPreferences() {
      return Cookies.get('cockpitPreferences')
    },

    openInNewTab: {
      get() {
        return this.preferences.openInNewTab
      },

      set(value) {
        let preferences = this.preferences
        preferences.openInNewTab = value
        Cookies.set('cockpitPreferences', JSON.stringify(this.preferences), {
          path: '/',
          domain: userManager.getDomain()
        })
      }
    }
  },

  mounted() {
    if (Cookies.get('cockpitPreferences'))
      this.preferences = JSON.parse(Cookies.get('cockpitPreferences'))

    const self = this
    document.addEventListener('click', function(event) {
      if (self.showMenu) {
        let isClickInside = document.getElementById('cockpit-menu').contains(event.target)
        let isClickImage = document.getElementById('cockpit-main-btn').contains(event.target)
        if (!isClickInside && !isClickImage) {
          self.showMenu = false
        }
      }
    })
  },

  methods: {
    goTo(link) {
      if (this.openInNewTab) {
        window.open(link, '_blank')
      } else {
        window.open(link, '_self')
      }
    },

    getRoles(roleKey) {
      userManager.setRoleKey(roleKey)
      const role = userManager.getRoles()
      userManager.setRoleKey(null)

      return role
    },

    goToCockpit() {
      this.goTo(this.links[this.cockpitEnvironnement].cockpit)
    },

    getLink(id) {
      return this.links[this.cockpitEnvironnement][id] ?? this.links['prod'][id]
    }
  },

  'cockpitPreferences': {
    handler(newValue) {
      this.userStore.setCockpitPreferences(JSON.parse(newValue))
    },

    deep: true
  }
}
</script>
